@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  color: black;
  text-decoration: none;
}

img {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

/* 版心设定 */
html, body {
  width: 100%;
}

html {
  overflow-x: hidden;
}

.contain {
  width: 100%;
}

.contain-layout {
  width: 1200px;
  /* height: 200px; */
  /* background: red; */
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* 图片变黑遮罩层 */
.mask {
  background-color: black;
  opacity: 0;
  /* transition: 1s; */
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* 页面顶部 */
#title-top {
  height: 130px;
  position: relative;
  /* background-color: red; */
}

#title-top img {
  margin: 0 auto;
  position: relative;
  top: 28px;
  cursor: pointer;
}

#title-top .language {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  position: absolute;
  top: 65px;
  padding-bottom: 6px;
  margin-left: 28px;
  text-indent: 4px;
  cursor: pointer;
  z-index: 3;
}

#title-top .language:hover {
  color: #ffb81c;
}

#title-top .language span {
  font-size: 14px;
  display: inline-block;
  -webkit-transform: scale(1, 0.5);
          transform: scale(1, 0.5);
}

#title-top .language .RMB {
  position: absolute;
  top: -5px;
  left: 53px;
  width: 80px;
  font-size: 12px;
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  height: 32px;
  line-height: 30px;
  color: #666;
  border-left: 1px solid lightgray;
  text-align: center;
}

#title-top ul {
  font-size: 12px;
  border: 1px solid black;
  width: 80px;
  height: 52px;
  position: absolute;
  top: 27px;
  left: -24px;
  display: none;
  background: white;
}

#title-top ul li {
  height: 26px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  color: black;
}

#title-top ul li:hover {
  color: black;
  background-color: lightcyan;
}

#title-top p, #title-top strong {
  position: absolute;
  right: 10px;
  top: 62px;
  text-align: center;
  line-height: 28px;
  height: 28px;
  cursor: pointer;
  color: black;
  letter-spacing: 4px;
  font-size: 12px;
  width: 62px;
  border-right: 1px solid lightgray;
}

#title-top p:hover, #title-top strong:hover {
  color: #ffb81c;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

#title-top strong {
  font-size: 28px;
  font-weight: normal;
  left: 1145px;
  border-right: none;
}

#title-top strong:hover {
  text-decoration: none;
  color: #ffb81c;
}

#title-top p:last-of-type, #title-top strong:last-of-type {
  right: 50px;
}

#title-top p:first-of-type, #title-top strong:first-of-type {
  right: 114px;
}

/* 顶部导航部分 */
#nav-top {
  height: 50px;
  background-color: black;
  position: relative;
}

#nav-top .content {
  height: 100px;
  overflow: hidden;
}

#nav-top .content ul {
  color: #ffb81c;
  line-height: 50px;
  /* overflow: hidden; */
}

#nav-top .content ul li {
  float: left;
  font-size: 14px;
  width: 78px;
  text-indent: 0;
  cursor: pointer;
}

#nav-top .content ul li:hover {
  color: white;
}

#nav-top .content ul li:last-of-type:hover {
  color: #ffb81c;
}

#nav-top .content span {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

#nav-top .content input {
  background: transparent;
  border: none;
  outline: none;
  caret-color: #ffb81c;
  height: 30px;
  width: 223px;
  font-size: 14px;
  line-height: 30px;
  color: white;
  border-bottom: 1px solid white;
  position: absolute;
  top: 11px;
  left: 1190px;
  /* display: none; */
  opacity: 0;
  /* transition: .5s; */
}

#nav-top .nav-list {
  height: 344px;
  width: 1200px;
  background: white;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 3;
  top: 50px;
}

#nav-top .nav-list::after {
  content: "▲";
  display: inline-block;
  /* margin-left: -335px; */
  color: white;
  position: absolute;
  top: -12px;
  left: 85px;
  width: 20px;
  height: 10px;
  /* left: 0px; */
  -webkit-transform: scale(2, 1);
          transform: scale(2, 1);
}

#nav-top .nav-list p, #nav-top .nav-list #title-top strong, #title-top #nav-top .nav-list strong {
  font-size: 14px;
  float: left;
  font-weight: bold;
  margin-top: 44px;
}

#nav-top .nav-list p:nth-of-type(2), #nav-top .nav-list #title-top strong:nth-of-type(2), #title-top #nav-top .nav-list strong:nth-of-type(2) {
  margin-left: 362px;
}

#nav-top .nav-list ul {
  float: left;
  width: 200px;
  font-size: 14px;
  margin-top: 70px;
  color: #666;
  position: absolute;
}

#nav-top .nav-list ul li {
  height: 44px;
  line-height: 44px;
  cursor: pointer;
}

#nav-top .nav-list ul li:hover {
  color: black;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

#nav-top .nav-list ul:nth-of-type(2) {
  left: 200px;
}

#nav-top .nav-list ul:nth-of-type(3) {
  left: 390px;
}

#nav-top .nav-list ul:nth-of-type(4) {
  left: 600px;
}

#nav-top .nav-list ul:nth-of-type(5) {
  left: 800px;
}

#nav-top .nav-list:nth-of-type(3)::after {
  left: 165px;
}

#nav-top .nav-list:nth-of-type(4)::after {
  left: 255px;
}

#nav-top .nav-list:nth-of-type(5)::after {
  left: 345px;
}

#nav-top .nav-list:nth-of-type(6)::after {
  left: 423px;
}

#nav-top .nav-list:nth-of-type(7)::after {
  left: 500px;
}

#nav-top .nav-list:nth-of-type(8)::after {
  left: 579px;
}

#nav-top .nav-list:nth-of-type(9)::after {
  left: 658px;
}

#nav-top .nav-list:nth-of-type(10)::after {
  left: 735px;
}

#nav-top .nav-list:nth-of-type(11)::after {
  left: 830px;
}

.show {
  display: block;
}

/* 顶部banner图部分 */
#banner-top {
  margin-top: 20px;
  position: relative;
  height: 980px;
}

#banner-top img {
  position: absolute;
  cursor: pointer;
}

#banner-top img:nth-of-type(2) {
  left: 530px;
  z-index: 2;
}

#banner-top img:nth-of-type(3) {
  right: 0;
}

#banner-top img:nth-of-type(4) {
  right: 0;
  top: 430px;
  z-index: 3;
}

#banner-top img:nth-of-type(5) {
  left: 0px;
  top: 750px;
}

#banner-top div {
  width: 650px;
  height: 550px;
  right: 0;
  top: 430px;
  position: absolute;
  background: black;
  z-index: 1;
}

#banner-top video {
  width: 650px;
  /* height: 550px; */
  position: absolute;
  right: 0;
  top: 580px;
  z-index: 2;
  /* display: none; */
}

/* 轮播图下的线 */
#slider-line {
  height: 130px;
  position: relative;
  top: 90px;
}

#slider-line img {
  position: absolute;
  top: 30px;
}

/* 中间的banner图 */
#banner-middle {
  height: 630px;
  position: relative;
  top: 86px;
}

#banner-middle div {
  height: 630px;
  width: 950px;
  position: relative;
}

#banner-middle img {
  cursor: pointer;
}

#banner-middle img:last-of-type {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 4;
}

#banner-middle img:first-of-type {
  position: absolute;
  top: 0px;
  left: 0;
}

#slider {
  height: 400px;
  position: relative;
  top: 90px;
}

#slider .swiper-container {
  /* width: 100%; */
  /* height: 100%; */
  height: 400px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

#slider .swiper-container .swiper-wrapper {
  width: 100%;
}

#slider .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 410px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 10px solid #ffb81c;
  cursor: pointer;
}

#slider .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  position: relative;
}

#slider .swiper-container .swiper-wrapper .swiper-slide .mask2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.3;
}

.product-details {
  background-color: white;
  padding: 34px 27px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #000;
  text-align: left;
}

.product-details .product-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 28px;
  font-size: 18px;
}

.product-details .product-desc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  height: 44px;
}

.product-details .line {
  width: 80px;
  height: 2px;
  margin-bottom: 18px;
  background-color: #000;
}

.product-details .product-price {
  font-family: 'FuturaLT-Light';
  font-size: 14px;
}

.swiper-button-next,
.swiper-button-prev {
  top: 60px;
  opacity: 0;
}

.swiper-button-prev {
  left: 555px;
}

.swiper-button-next {
  left: 620px;
}

#sikumarket {
  height: 300px;
  position: relative;
  top: 120px;
}

#app {
  margin-top: 150px;
  height: 600px;
}

#app li {
  float: left;
  margin-left: 30px;
  position: relative;
}

#app li:first-of-type {
  margin-left: 0;
}

#app .bg-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

#app .bg-mask:hover {
  opacity: 1;
}

#sikuworld {
  height: 724px;
  background-color: #ffb81c;
  position: relative;
  top: 40px;
  padding-top: 60px;
}

#sikuworld .title {
  height: 109px;
  margin-bottom: 51px;
  text-align: center;
}

#sikuworld .title img {
  display: inline;
  vertical-align: middle;
  border: 0;
}

#sikuworld .adv {
  height: 504px;
  cursor: pointer;
}

#sikuworld .adv li {
  position: relative;
  float: left;
  margin-left: 30px;
}

#sikuworld .adv li:first-of-type {
  margin-left: 0;
}

#sikuworld .adv .bg-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

#sikuworld .adv .bg-mask:hover {
  opacity: 1;
}

#siku-links {
  height: 360px;
  background: #ffb81c;
  position: relative;
  top: 30px;
}

#siku-links li {
  cursor: pointer;
}

#siku-links li:hover {
  text-decoration: underline;
}

#siku-links .links {
  height: 360px;
  background: #ffb81c;
}

#siku-links .links .info {
  width: 325px;
}

#siku-links .links .info h3 {
  margin-bottom: 26px;
}

#siku-links .links .info ul {
  font-size: 14px;
  width: 325px;
  height: 132px;
}

#siku-links .links .info ul li {
  height: 28px;
  width: 115px;
  float: left;
}

#siku-links .links .media {
  width: 550px;
  height: 260px;
  position: relative;
  top: -180px;
}

#siku-links .links .media h3 {
  text-align: center;
}

#siku-links .links .media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 40%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#siku-links .links .media ul li {
  text-align: center;
  font-size: 14px;
}

#siku-links .links .media ul li:hover {
  text-decoration: none;
}

#siku-links .links .media ul li span {
  font-size: 24px;
}

#siku-links .links .media ul img {
  display: none;
}

#siku-links .links .media ul li:nth-of-type(1) img {
  position: absolute;
  top: -65px;
  left: -60px;
}

#siku-links .links .media ul li:nth-of-type(2) img {
  position: absolute;
  top: -65px;
  left: 215px;
}

#siku-links .links .our-app {
  width: 79px;
  height: 164px;
  position: relative;
  top: -440px;
  left: 1101px;
}

#siku-links .links .our-app h3 {
  margin-bottom: 26px;
}

#siku-links .links .our-app ul {
  font-size: 14px;
  width: 79px;
  width: 100px;
  height: 132px;
}

#siku-links .links .our-app ul li {
  height: 28px;
  float: left;
}
/*# sourceMappingURL=index.css.map */